<app-nav-menu></app-nav-menu>

<div class="container" style="z-index:10000">
    <div class="form-group">
      <label for="email">Username:</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password">
    </div>
    <button (click)="loginUser()" class="btn btn-success btn-block">Login</button>
</div>

